{%extends "template.html.twig" %}
{% block titre%}Users{%endblock%}
{% block pageTitle%}Users : {%endblock%}
{%block body%}
<table class="table">
    <tr class="table-active">
        <td>Nom</td>
        <td>Age</td>
    </tr>
    {% for user in users %}
    <tr class="table-{%if loop.index is odd %}danger{% else%}warning{%endif%}">
        <td>{{user.nom}}</td>
        <td>{{user.age}}</td>
    </tr>
    {%endfor%}
</table>
{%endblock%}