{%extends "template.html.twig" %}
{% block titre%}ToDo{%endblock%}
{% block pageTitle%}To Do List{%endblock%}
{%block body%}
  <div class="container">



      <ol class="list-group">
        {% for cle,element  in app.session.get('todos') %}
        <li class="list-group-item">
            {{cle}} : {{element}}
        </li>
        {%endfor%}
      </ol>

  </div>
{%endblock%}